server:
  port: '80'
  servlet:
    context-path: /Shop
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/shopdb
    username: root
    password: AdminRoot1
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    show-sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 308363007024-g61lhnprie7ik3mjot2ja2jk373v86os.apps.googleusercontent.com
            client-secret: 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
            scope:
            - email
            - profile
          facebook:
            client-id: 1253949885071858
            client-secret: 128c64ffec65dadf303d307f1a10afda
            scope:
            - email
            - public_profile
